### PhpStorm ###
.idea

### NetBeans ###
nbproject

### Eclipse ###
.buildpath
.project
.settings

### VisualStudioCode ###
.vscode

### SublimeText ###
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

# windows thumbnail cache
Thumbs.db

# Mac DS_Store Files
.DS_Store

# composer itself is not needed
composer.phar
